html {
  scroll-behavior: smooth;
}
#header {
  background: url('https://www.wallpaperup.com/uploads/wallpapers/2015/10/27/825565/a8f967ede1e1e41abc91787415e3b9ee.jpg');
  background-position: center;
  background-size: cover;
  top:  4.45rem;
  height: 100vh;
  padding: 20%;
  position: relative;
}
.card-img-top {
  padding: 2rem;
}
body {
  color: black;
  font-family: 'Righteous', cursive;
}
h2
{
  position: relative;
  bottom: 200px;
}


.navbar {
  background-color: black;
  color: white;
}

.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}
.card {
  height: 100%;
}
.fas fa-chevron-down fa-6x gallery-icon{
  padding-top: 100px;
}

.itemNav {
  padding: 15px;
}
.gallery-head {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 5%;
  margin-top: 10%;
  text-transform: uppercase;
}
.lead {
  margin-top: 20px;
  font-size: 1.5rem;
}
.display-3 {
  font-size: 8rem;
}
.gallery-icon {
  color: #000000;
  text-align: center;
}
.backToTop {
  margin-left: 49%;

  color: #000000;
  padding: 0.6%;
  border-radius: 50%;
  margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
    padding-top: 1500px;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}

@media only screen and (min-width: 992px) {
  #header {
    top: calc(4.45rem + 15px);
  }
}
