html {
  scroll-behavior: smooth;
}
#header {
  background: url("https://3.bp.blogspot.com/-kQC61n9y5ZQ/UIY7Ns2pZdI/AAAAAAAAL5U/CQvUDHyX1S0/s1600/Pokemon+Wallpapers+1.jpg");
  background-position: center;
  background-size: cover;

  height: 100vh;
  padding: 20%;
}

.header-content {
  padding: 1em 2em;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,.2);
}

.header-content > h2 {
  color: #dc3545;
}

.card-img-top {
  padding: 2rem;
}
body {
  font-family: "Righteous", cursive;
  color: black;

  background-color: whitesmoke;
}

.navbar {
  background-color: black;
  color: white;
}

.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}
.card {
  height: 100%;

  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0,0,0,.2);

  border-top: 5px solid #dc3545;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: rgba(0,0,0,.6);
}

.itemNav {
  padding: 15px;
}
.gallery-head {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 5%;
  margin-top: 10%;
  text-transform: uppercase;
}
.lead {
  font-size: 1.5rem;
}
.display-3 {
  font-size: 8rem;
}
.gallery-icon {
  color: #000000;
  text-align: center;
}
.backToTop {
  margin-left: 49%;

  color: #000000;
  padding: 0.6%;
  border-radius: 50%;
  margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}
