html {
  scroll-behavior: smooth;
}
body {
  color: black;
  font-family: "Righteous", cursive;
}

#header {
  background: url("https://www.wallpaperup.com/uploads/wallpapers/2015/10/27/825565/a8f967ede1e1e41abc91787415e3b9ee.jpg");

  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  width: auto;
  height: calc(100vh - 4.45rem);
}

/* scale-animation-by-sudo-nick16 */
.card{
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05)
}

.backToTop {
  margin-left: 49%;

  color: #000000;
  padding: 0.6%;
  border-radius: 50%;
  margin-bottom: 4%;
}
.card {
  height: 100%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.card-body.hidden {
  display: none;
}
.card-img-top {
  padding: 2rem;
}
.display-3 {
  font-size: 8rem;
}
.fas fa-chevron-down fa-6x gallery-icon {
  padding-top: 100px;
}

.gallery-head {
  font-size: 3rem;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.gallery-icon {
  color: #000000;
  text-align: center;
}
.itemNav {
  padding: 15px;
}
.jumbotron {
  border-radius: 0;
}
.lead {
  margin-top: 30%;
  font-size: 1.5rem;
}
.navbar {
  background-color: black;
  color: white;
}
.navbar ~ * {
  position: relative;
  top: 4.45rem;
}
.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}
.view-div {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.view-button {
  width: 130px;
  height: 50px;
  margin: 0 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.view-button > img {
  width: 24px;
  height: 24px;
}
.view-button:hover {
  cursor: pointer;
}
.view-button.selected {
  outline: 1px solid black;
}
@media (max-width: 320px) {
  .lead {
    margin-top: 60%;
  }
  #header {
    width: 510px;
  }
  #icon1 {
    margin-top: -6%;
  }
  #gallery1 {
    font-size: 1.5rem;

    margin-top: 5%;
    margin-left: 50%;
    text-transform: uppercase;
  }
  #normal-view {
    margin-left: 50%;
  }
}
@media (min-width: 321px) and (max-width: 449px) {
  .lead {
    margin-top: 50%;
  }
  #header {
    width: 500px;
  }
  #gallery1,
  #normal-view {
    margin-left: 20%;
  }
}
@media (min-width: 449px) and (max-width: 750px) {
  #header {
    width: 100%;
  }
}
@media (min-width: 760px) {
  #header {
    width: 100%;
  }
}
@media (min-width: 800px) and (max-width: 1440px) {
  #header {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}

@media only screen and (min-width: 992px) {
  #header {
    height: calc(100vh - 4.45rem - 15px);
  }
  .navbar ~ * {
    top: calc(4.45rem + 15px);
  }
}

/* Styles for if the screen is taller than it is wide (assumed mobile view) */
@media screen and (max-aspect-ratio: 8/7) {
  .display-3 {
    font-size: 6rem;
  }
}
